body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
    

}
header{
    background-color: crimson;

}
div{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#timer{
    position:fixed
    
}

#start{
    margin:30px;
}
.answer{
    margin:30px;
    
}
.deco{
    margin-left: 20%;
    margin-right: 20%;
    
}

#qcontainer2{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
#qcontainer3{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    
}



