body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
     background-color: rgb(0, 153, 255);
    

}
header{
    background-color: crimson;

}
div{
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    
   

}

#timer{
    position:fixed
    
}
.fun{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}